.background {
  height: 100vh;
  background-color: black;
  padding: 5rem;
  display: flex;
}

.contact_container {
  background-color: white;
  width: 100%;
  box-align: center;
  height: 40rem;
  margin: auto 5rem;
  color: white;
  border-radius: 15px;
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-wood-ae-57-i.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=2998943de352bc3c2e77fe9c31ed8295);
}

.contact-heading_text {
  text-align: center;
  font-size: 45px;
  padding: 1rem;
  font-family: "Dancing Script", cursive;
}

.contact_content {
  font-size: 30px;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.email {
  color: white;
}