@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Frank+Ruhl+Libre:wght@500&family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbarcolor: rgba(11, 14, 15, 0.8);
}